section h1 {
    font-size: 50px;
    padding: 1rem 5rem;
    font-family: "MuseoModerno", sans-serif;
    color: #fff;
}

.lesson {
    background-color: darkblue;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    transition: ease-out .3s;
}

.lesson:hover {
    background: linear-gradient(rgb(52, 102, 174) 0%, rgb(83, 144, 241) 100%);
    cursor: pointer;
    transition: .3s;
    color: black;
}

.content { 
    font-size: 25px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.content a {
    font-weight: bolder;
}

.container {
    background-color:darkblue;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 10px;
}

.container h2 {
    padding: 1rem 2rem;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .lesson {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 1024px) {
    .lesson {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .lesson {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .content {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 16px;
    }
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    section h1 {
        font-size: 2rem;
        padding: 1rem;
    }
}
