.selection {
    margin-left: 2rem;
    margin-right: 2rem;
}

.selection h2 {
    font-size: 2.5rem;
    text-align: center ;
    margin-top: 2rem;
    font-family: "Sixtyfour", sans-serif;
    background: linear-gradient(90deg, #FF5733, #FFC300 , #DAF7A6 );
    -webkit-background-clip: text;
    color: transparent;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singlebox {
    text-align: center;
    flex-basis: 32%;
    border: 3px groove;
    margin: 30px auto;
    padding: 1.5rem;
    border-radius: 20px;
    background: linear-gradient(to bottom, #66070C, #D1101A);
    color: #fff;
}

.singlebox h4 {
    margin-top: 5px;
    font-size: 20px;
    font-family: "MuseoModerno", sans-serif;
}

.about {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    font-family: "MuseoModerno", sans-serif;
    color: #fff;
    font-size: 20px;
}

.image img {
    width: 20rem;    
}

.content p {
    font-family: "MuseoModerno", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.content .head {
    margin-top: 6rem;
    margin-left: 0;
}

.content h3 {
    font-family: "Sixtyfour", sans-serif;
    color: #fff;
    font-size: 30px;
    margin-left: 6rem;
}

.hakdog {
    font-family: "MuseoModerno", sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-left: 7rem;
    margin-right: 6rem;
    margin-top: 1rem;
}

.container {
    padding: 50px;
    background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);
    margin: 3rem;
    border-radius: 40px 50px 20px 140px;
}